# LOVE2LATE

In [2]:
%matplotlib inline
from Homemade import pipeline as pl
from Homemade import utils as ut
from Homemade import matching as mt
import pandas as pd
pd.set_option('display.max_colwidth', -1)

D'abord on réunit les annonces des 4 journaux en un dataframe.

In [3]:
LI  =  ut.read_from_folder('LI',file_name = 'LI')
LLDM  =  ut.read_from_folder('LLDM',file_name = 'LLDM')
LTDU  =  ut.read_from_folder('LTDU',file_name = 'LTDU')
RV  =  ut.read_from_folder('RV',file_name = 'RV')
frames = [LI,LLDM,LTDU,RV]
Ad= pd.concat(frames)
Ad.head(3)

,Ark,Page,Paragraph_id,Image_file,Text,Coordinates,Date,Titre,Folder,Sex,Info
bpt6k940659s007r_7_1,bpt6k940659s,7,r_7_1,bpt6k940659s_007.jpg,"veuve, 40 ans, physique agréable, situation moyenne, désire contracter mariage avec monsieur de 40 à 50 ans, ayant h on emploi.","[[300, 2563, 1161, 2759]]",1918-12-01,L'Intermédiaire : organe des mariages : paraissant le 1er de chaque mois,LI,Woman,"{'age': 40, 'other_age': [40, 50], 'self_traits': ['beauté'], 'other_traits': [], 'self_social_stat': 'pauvre', 'other_social_stat': 'None', 'self_job': '', 'other_job': [], 'rapport': []}"
bpt6k940659s007r_7_2,bpt6k940659s,7,r_7_2,bpt6k940659s_007.jpg,"jeune fille, 20 ans, taille moyenne, gentille, bonne ménagère, épouserait blessé de la guerre, ayant petit commerce ou emploi.","[[302, 2838, 1160, 3035]]",1918-12-01,L'Intermédiaire : organe des mariages : paraissant le 1er de chaque mois,LI,Woman,"{'age': 20, 'other_age': 'None', 'self_traits': ['intérieur'], 'other_traits': ['mutilé'], 'self_social_stat': 'None', 'other_social_stat': 'None', 'self_job': 'intérieur', 'other_job': [], 'rapport': []}"
bpt6k940659s007r_8_3,bpt6k940659s,7,r_8_3,bpt6k940659s_007.jpg,"jeune fille, 23 ans, famille très honorable, épouserait jeune homme honnête, accepterait volontiers mariage avec mutilé.","[[1239, 1600, 2096, 1798]]",1918-12-01,L'Intermédiaire : organe des mariages : paraissant le 1er de chaque mois,LI,Woman,"{'age': 23, 'other_age': 'None', 'self_traits': ['sérieux'], 'other_traits': ['mutilé', 'jeune', 'célibataire'], 'self_social_stat': 'None', 'other_social_stat': 'None', 'self_job': '', 'other_job': [], 'rapport': []}"

Ensuite, on répand l'amour à travers le monde

In [4]:
Matches,trash_people = mt.update_matches(Ad,False)

1023

TypeError: drop() got an unexpected keyword argument 'subset'

In [ ]:
Matches.to_json('Matches.json')

In [ ]:
index = Matches.iloc[0].index
show_couple(Matches,index)

In [6]:
Ad.Date.iloc[0]

Timestamp('1918-12-01 00:00:00')